* {
  /border: 1px red solid; /*Use this to check borders, paddings and everything else between elements*/
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

/*color pallete*/

:root {
  --color1: #F4DC1C;
  --color2: #080704;
  --color3: #C1AF17;
  --color4: #7C6C0C;
}

@media screen and {min-width: 760px

}

#content {
  display: grid;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
}

nav {
  background-color: var(--color1);
}

header {
  background-color: var(--color2);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header h1 {
  padding: 15px;
}

.headerContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 110px 15px 15px 15px;
}

section {
  background-color: var(--color1);
  padding: 10px;
}

section h1 {
  font-size: 30px;
  padding: 15px 0px 30px 0px;
}

section p {
  font-size: 18px;
}

.mainInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  align-items: center;
}

.mainInfo h3 {
  padding: 10px 0px 20px 0px;
}

.mainInfo p {
  font
}

.netscapeLogo img {
  width: 400px;
  height: 100px;
}

.coders {
  background-color: var(--color2);
  color: white;
}

.codersProfiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: var(--color1);
}

footer h3 {
  font-size: 15px;
  padding: 5px;
}
